<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{ route('dashboard.index') }}">Home</a>
    </li>
    @each(item in items)
      <li class="{{ url == 'a' ? 1 : 2 }}">
        <a href="{{ (item.url) ? item.url : 'javascript:;' }}" >
          {{ item.title }}
        </a>
      </li>
    @endeach
  </ul>
</nav>