<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">&nbsp;</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <input
          type="hidden"
          class="input"
          name="{{ index }}"
          value="{{ (item && item[index]) ? item[index] : '' }}"
          autocomplete="off"
        />
      </p>
    </div>
  </div>
</div>
